* {
    margin: 0;
    padding: 0;
}


/* FONTS */
.merriweatherFont {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.interFont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* BANNER */
.bannerImg {
    max-width: 1320px;
    margin: auto;
    height: 600px;
    background: url(images/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.banner {
    border-radius: 13px;
    background: linear-gradient(180deg, black, transparent);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerTxt {
    text-align: center;
    font-family: merriwheater;
}

.happy {
    font-size: 32px;
    color: white;
}

.party {
    font-size: 72px;
    color: white;
}



/* DISCOUNT*/
.discount {
    max-width: 802px;
    height: 806px;
    text-align: center;
    margin: 120px auto;
}

.off {
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
}

.holiday {
    font-size: 24px;
    font-weight: normal;
    color: #FF0000;
}

.category {
    font-size: 48px;
    margin-bottom: 48px;
}


/* WELLCOME */

.wlcBg{
    background-image: url(images/Vectorrr.png);
    max-width: 1320px;
    height: 600px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.wlc{
    border-radius: 13px;
    background: linear-gradient(90deg, #000000, transparent);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px
}

.wlcText{
    width: 660px;
    color: white;
}

.wlcToParty {
    font-size: 66px;
}

.wlcPara{
    font-size: 18px;
    margin: 24px 0 48px;
}

.wlcText button{
    font-size: 20px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

/* EVENT */

.event{
    max-width: 1320px;
    height: 490px;
    margin: 120px auto;
    border-radius: 16px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #ffE7E7, transparent);

}

.event h3{
    font-size: 32px;
    line-height: 56px;
    font-weight: 550;

}

.event button{
    font-size: 20px;
    padding: 16px 32px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
    font-weight: bold;
    cursor: pointer;

}

.event span{
    color: #FF0000; 
    margin-right: 8px;
}

/* OFFER  COMMING SOON */

.commingSoon{
    max-width: 1320px;
    margin: auto;
    height: 465px;
    display: flex;
    gap: 30px;
}

.soonLeft{
    width: 580px;
    margin-top: 130px;
}
.soonLeft h3{
    color: #FF0000;
    font-size: 24px;

}

.soonLeft h2{
    color: black;
    font-size: 48px;
    margin: 20px 0;
}

.soonLeft p{
    line-height: 32px;
    font-size: 20px;
    color: #6A6770;
}
.soonMiddle{
    border: 15px  solid #FF0000;
    border-radius: 50%;
    padding: 35px;

}

.soonRight{
    margin-top: 130px;
}

.soonRight h2{
    font-size: 48px;
    color: #FF0000;
}

.soonRight p{
    font-size: 20px;
    line-height: 32px;
    color: #6A6770;
    margin: 20px 0 50px;
}

/* HOLIDAY SALE */

.holidaySale{
    max-width: 1320px;
    margin: 120px auto;
}

.holidayText{
    text-align: center;
}

.holidayText h2 {
    font-size: 24px;
    font-weight: 600;
}

.holidayText h4{
    font-size: 72px;
    margin: 20px;
}

.holidayText span{
    color: #FF0000;
    margin-right: 10px;
}

.holidayText p{
    font-size:20px;
    color: #6A6770;
    width: 1000px;
    margin: 0 auto 50px;

}

.holidayImg{
    position: relative;
    margin-top: 40px;
}

.forwardImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.sale{
    position: absolute;
    top: 6%;
    left: 73%;
}

.backwardImg{
    position: absolute;
    top: 380px;
}

.giftBox{
    width:675px;
    height: 575px;

}

/* PORTFOLIO */

.portfolio{
    max-width: 1320px;
    margin: 120px  auto;
}

.scndryHead{
    font-size: 24px;
    color: red;
    font-weight: 500;

}

.mainHead{
    font-size: 48px;
    margin: 15px 0;
    color: #070211;
    font-weight: bold;
}

.subHead{
    font-size: 20px;
    margin-bottom: 40px;
    width: 890px;
    color: #07021196;
}

.portImges{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.portImg{
    width: 424px;
    height: 450px;

}

/* NEWSLETTER */

.subNws{
    max-width: 1320px;
    margin: 120px auto;
    text-align: center;
    background: #FFF2F2;
    border-radius: 16px;
    padding: 80px 0;
}

.subs{
    font-size: 48px;
    margin: 40px 0 20px;
}

.subNwsTxt{
    font-size: 20px;
    width: 890px;
    color: #07021196;
    margin: 0 auto 40px auto;
}

.subsEmailBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subsEmail{
    font-size: 18px;
    width: 648px;
    padding: 25px 0 25px 30px;
    border-radius: 50px;
    position: relative;
    border: none;
}

.subsBtn{
    padding: 24px 56px;
    border-radius: 0 50px 50px 0;
    font-size: 20px;
    position: absolute;
    right: 453px;
    background: #FF0000;
    border: none;
    color: white;
}

/* footer */

footer{
    background: black;
    color: white;
    font-size: 24px;
}

footer h5{
    font-weight: 400 ;
}

.footerContainer{
    max-width: 1320px;
    margin: auto;
    padding: 120px 0;
}
.contactInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactInfo h5{
    margin-bottom: 10px;
}

.web{
    text-decoration: none;
    color: white;

}


.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 48px 0;
    border-top: 1px solid #ffffff15;
    border-bottom: 1px solid #ffffff15;
    margin: 40px 0;
}

.social img{
    width: 64px;
}

.copyR{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts h5{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.unsub{
    text-decoration: none;
    color: white;
}

