* {
    margin: 0;
    padding: 0;
}


/* FONTS */
.merriweatherFont {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.interFont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* BANNER */
.bannerImg {
    max-width: 1320px;
    margin: auto;
    height: 600px;
    background: url(images/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;

}

.banner {
    border-radius: 13px;
    background-color: #0000005c;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerTxt {
    text-align: center;
    font-family: merriwheater;
}

.happy {
    font-size: 32px;
    color: white;
}

.party {
    font-size: 72px;
    color: white;
}



/* DISCOUNT*/
.discount {
    max-width: 802px;
    height: 806px;
    text-align: center;
    margin: 120px auto;
}

.off {
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
}

.holiday {
    font-size: 24px;
    font-weight: normal;
    color: #FF0000;
}

.category {
    font-size: 48px;
    margin-bottom: 48px;
}


/* WELLCOME */

.wlcBg{
    background-image: url(images/Vectorrr.png);
    max-width: 1320px;
    height: 600px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.wlc{
    border-radius: 13px;
    background: linear-gradient(90deg, #000000, transparent);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px
}

.wlcText{
    width: 660px;
    color: white;
}

.wlcToParty {
    font-size: 66px;
}

.wlcPara{
    font-size: 18px;
    margin: 24px 0 48px;
}

.wlcText button{
    font-size: 20px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

/* EVENT */

.event{
    max-width: 1320px;
    height: 490px;
    margin: 120px auto;
    border-radius: 16px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #ffE7E7, transparent);

}

.event h3{
    font-size: 32px;
    line-height: 56px;
    font-weight: 550;

}

.event button{
    font-size: 20px;
    padding: 16px 32px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
    font-weight: bold;

}

.event span{
    color: #FF0000; 
    margin-right: 8px;
}

/* OFFER  COMMING SOON */

.commingSoon{
    max-width: 1320px;
    margin: auto;
    height: 465px;
    display: flex;
    gap: 30px;
}

.soonLeft{
    width: 580px;
    margin-top: 130px;
}
.soonLeft h3{
    color: #FF0000;
    font-size: 24px;

}

.soonLeft h2{
    color: black;
    font-size: 48px;
    margin: 20px 0;
}

.soonLeft p{
    line-height: 32px;
    font-size: 20px;
    color: #6A6770;
}
.soonMiddle{
    border: 15px  solid #FF0000;
    border-radius: 50%;
    padding: 35px;

}

.soonRight{
    margin-top: 130px;
}

.soonRight h2{
    font-size: 48px;
    color: #FF0000;
}

.soonRight p{
    font-size: 20px;
    line-height: 32px;
    color: #6A6770;
    margin: 20px 0 50px;
}